body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

header {
    background-color: #ffff63;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
  border: 1px solid #c0c0c0;
  padding: 0;
  text-align: center;
  width: 50px;
  display: block;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  top: -3px;
  transform: translateY(0px);
  position: relative;
  box-shadow: inset 0 30px 30px -15px rgba(110, 110, 110, 0.158), inset 0 0 0 1px rgba(255,255,255,.3), inset 0 1px 20px rgba(0,0,0,0), 0 3px 0 #838383, 0 3px 2px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.1);
  background: #e0e0e0;
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  transition: 150ms all;
}

button:active {
  transform: translateY(3px);
  box-shadow: inset 0 16px 2px -15px rgba(0,0,0,0), inset 0 0 0 1px rgba(255,255,255,.15), inset 0 1px 20px rgba(0,0,0,.1), 0 0 0 #707070, 0 0 0 2px rgba(255,255,255,.5), 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
}

#round-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffff63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#score-display {
    position: fixed;
    z-index: 100;
    top: 97vh;
    left: 10px;
}